@model WebBanGiayDep.Models.KHACHHANG

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        <h3 style=" text-align: center;margin-top: 100px; font-size: 25px; font-weight: bold ">HỒ SƠ CỦA TÔI</h3>
        <div class="profile" style="margin-left: 40%; margin-bottom:10%; margin-top:2%">
            <br />
            <div class="form-group">
                <label for="name" style="font-weight:bold">Tên tài khoản: </label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Tên tài khoản" value="@Model.TaiKhoanKH">
            </div>

            <div class="form-group">
                <label for="name" style="font-weight:bold">Họ tên: </label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Họ tên" value="@Model.HoTen">
            </div>

            <div class="form-group">
                <label for="email" style="font-weight:bold">Email: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="@Model.EmailKH ">
            </div>

            <div class="form-group">
                <label for="address" style="font-weight:bold">Địa chỉ: </label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" value="@Model.DiaChiKH">
            </div>

            <div class="form-group">
                <label for="phoneNumber" style="font-weight:bold">Điện thoại: </label>
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Điện thoại" value="@Model.DienThoaiKH">
            </div>

            <div class="form-group">
                <label for="date" style="font-weight:bold">Ngày sinh: </label>
                <input type="text" class="form-control" id="date" name="date" placeholder="Địa chỉ" value="@Model.NgaySinh">
            </div>
            <br />
            <button type="submit" id="save-btn"><i class="fa fa-save" style="font-size:20px "></i>Lưu</button>
            <h3 id="Error">@ViewData["Error"]</h3>
            <h3 id="Success">@ViewData["Success"]</h3>
            <br />
            <div style="margin-left:100px">
                @Html.ActionLink("Trở về trang chủ", "Index", "Home")
            </div>
        </div>
</form>
}
<style>
    .form-group{
        padding:5px;
        font-size:20px;
    }
    input {
        height:10%
    }
</style>


